.d-flex {
  display: flex
}
.align-items-center {
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-fill {
  flex-grow: 1;
}
.flex-fill-2 {
  flex-grow: 1.5
}
