@import "../_theme.scss";
@import "./spacing";

@each $name, $color in $colors {
  .bg-#{$name} { background-color: #{$color}; }
  .text-#{$name} { color: #{$color} ; }
  a.text-#{$name} { color: #{$color}!important ; }
  .badge-#{$name} { background-color: #{$color}; }
}

.badge {
  font-size: small;
  padding: $spacing-1 / 2 $spacing-1;
  border-radius: $default-border-radius;
}
.badge-pill {
  border-radius: 5em!important;
  padding-left: 10px;
  padding-right: 10px;
}
.badge-primary2 {
  color: white!important;
}
.badge-success {
  color: white!important;
}
.badge-warning {
  color: white!important;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-right {
  text-align: right
}
.text-center {
  text-align: center
}