$spacing-1: 0.5em;
$spacing-2: 0.5em * 2;
$spacing-3: 0.5em * 3;
$spacing-4: 0.5em * 4;

@for $i from 0 through 4 {
  .p-#{$i} {
    padding: ($spacing-1 * $i);
  }
  .py-#{$i} {
    padding-top: ($spacing-1 * $i);
    padding-bottom: ($spacing-1 * $i);
  }
  .px-#{$i} {
    padding-right: ($spacing-1 * $i);
    padding-left: ($spacing-1 * $i);
  }
  .pt-#{$i} {
    padding-top: ($spacing-1 * $i);
  }
  
  .pr-#{$i} {
    padding-right: ($spacing-1 * $i);
  }
  .pb-#{$i} {
    padding-bottom: ($spacing-1 * $i);
  }
  .pl-#{$i} {
    padding-left: ($spacing-1 * $i);
  }
  .m-#{$i} {
    margin: ($spacing-1 * $i);
  }
  .mt-#{$i} {
    margin-top: ($spacing-1 * $i);
  }
  .mx-#{$i} {
    margin-right: ($spacing-1 * $i);
    margin-left: ($spacing-1 * $i);
  }
  .mr-#{$i} {
    margin-right: ($spacing-1 * $i);
  }
  .ml-#{$i} {
    margin-left: ($spacing-1 * $i);
  }
  .mb-#{$i} {
    margin-bottom: ($spacing-1 * $i);
  }
  @media only screen and (max-width: 768px)  { // for small
    .sm-mr-#{$i} {
      margin-right: ($spacing-1 * $i)!important;
    }
  }
}