@import './utilities/spacing';
$primary-color: #191919;
$primary2-color: #6c7481;
$secondary-color: #6c6f78;
$warning-color: #ff9500;
$default-border-radius: 5px;
/* Layout: Header, Body, Footer*/
.menu.nav-menu .menu-item a{
  color: white;
}
img.custom-logo {
  width: 44px;
  height: auto;
}
.current_page_item, .current-menu-item {
  background-color: #3b3b3d;
  border-radius: $default-border-radius!important;
}
.menu-toggle {
  // float: right;
  margin-right: 5px;
}
.site-main {
  max-width: 1760px;
}
footer {
  display: none;
}
